@model NotificationPagoEfectivoModel
@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Plugins.Payments.PagoEfectivo.Edit").Text;
    NopHtml.SetActiveMenuItemSystemName(PagoEfectivoDefaults.SystemName);
}

<form asp-controller="PaymentPagoEfectivo" asp-action="Edit" method="post" id="cip-edit-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Payments.PagoEfectivo.Edit") - @Model.Id
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Payments.PagoEfectivo.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            @if (Model.OrderId > 0)
            {
                <button type="submit" name="save-continue" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @T("Admin.Common.Update")
                </button>
            }
            <span id="notification-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Payments.PagoEfectivo/Views/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="notification-delete" />